* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 1440px;
  padding: 15px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-size: 16px;
  padding: 8px 16px;
}
.input:hover {
  border: 1px solid #000;
}

.input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

.button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  height: 40px;
}
.button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  user-select: none;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  max-width: 1128px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-image {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.gallery-text {
  font-size: 15px;
  letter-spacing: 0.02em;
  width: 360px;
}

/* STYLES LOADER */

.loader-div {
  display: flex;
  justify-content: center;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fd0101;
  box-shadow: -24px 0 #fd0101, 24px 0 #fd0101;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fd0101;
    box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
  }
  66% {
    background: #ff3d00;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fd0101;
    box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
  }
}
